.my-jumbotron{
	text-align:center;
	background-color:cyan !important;
}


.carousel-inner > .carousel-item > img {
	margin: auto;
  width:600px !important;; 
  height:500px !important;;
}

.carousel{
  margin: auto !important;
  width: 600px !important;
}

.sections{
	text-align:center;
	margin: 5%;
}

.profile-pic{
    margin: auto;
    border-radius: 80%;

}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.my-jumbotron{
	text-align:center;
	background-color:cyan !important;
}


.carousel-inner > .carousel-item > img {
	margin: auto;
  width:600px !important;; 
  height:500px !important;;
}

.carousel{
  margin: auto;
  width: 600px !important;
}


.jumbotron{
	height: 100vh;
}

.sections{
	text-align:center;
	margin: 5%;
}


.profile-pic{
    margin: auto;
    border-radius: 80%;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

@media(max-width: 650px){
  .carousel-inner > .carousel-item > img {
	margin: auto;
  width:400px !important; 
  height:300px !important;
}

.carousel{
  margin: auto;
  width: 400px !important;
}
}

